/* Сброс-нормализация браузерных стилей. ||||||||||||||||||||||||||||||||||||*/
ul {
	margin: 0;
	padding: 0;
}

/* Глобальные стили. ||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.page {
	font-family: sans-serif;
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
}





/* Секция header. |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.header {
	background-color: #ddd;
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #864;

}

.burger {
}

.burger::before {
	content: '\2261';
	font-size: 50px;
}

.menu {
	width: 100%;
}

.messengers {
	display: flex;
	margin: 0 10px;
}

.messenger {
	width: 50px;
	height: 20px;
	margin: 5px;
	background-color: #448;
}

.menu__list {}

.menu__item {
	list-style: none;
	padding: 5px;
}

.menu__item:hover {
	background-color: #E3EEFF;
}

.login {
	margin: 0 10px;
}

.login__btn {
	display: block;
	margin: 5px;
}



@media (min-width: 600px) {

	.burger {
		order: 3;
	}

	.menu {
		display: contents;
	}

	.messengers {
		order: 1;
	}

	.menu__list {
		width: 100%;
		order: 4;
	}

	.login {
		order: 5;
	}

}



@media (min-width: 900px) {

	.logo {
		margin: 0 auto 0 0;

	}

	.burger {
		order: 4;
	}

	.messenger {
		order: 2;
	}

	.menu__list {
		display: flex;
		justify-content: space-between;
	}

	.menu__list:before {
		content: '';
		position: absolute;
		left: 0;

		width: 100%;
		height: 3px;
		background-color: #999;
	}

	.login {
		order: 3;
		display: flex;
	}

}

