/* Подключение шрифтов ||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Сброс-нормализация браузерных стилей. ||||||||||||||||||||||||||||||||||||*/
ul {
	margin: 0;
	padding: 0;
}

/* Глобальные стили. ||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.page {
	font-family: sans-serif;
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}





/* Секция header. |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.header {
	background-color: #ddd;
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #864;
}

.burger::before {
	content: '\2261';
	font-size: 50px;
}

.menu {
	width: 100%;
			display: contents;
}

.messengers {
	display: flex;
}

.messenger {
	width: 50px;
	height: 20px;
	margin: 5px;
	background-color: #448;
}

.menu__list {}

.menu__item {
	list-style: none;
}

.login {
}

.login__btn {
	display: block;
	margin: 5px;
}



@media (min-width: 900px) {

}





/* Секция main. |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

/* Секция footer. |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
