html {
	font-family: sans-serif;
	font-size: 100px;
	text-align: center;
}

html._touch {background: #484;}
html._touch::before {content: 'touch';}

html._pc {background: #844;}
html._pc::before {content: 'pc';}